<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="HotelBookingSuite">
    <test name="SmokeDomainNegativeTests">
        <groups>
            <run>
                <include name="smoke"/>
                <include name="domain"/>
                <include name="negative"/>
            </run>
        </groups>

        <classes>
            <class name="ua.khpi.oop.lab04.RoomTest"/>
            <class name="ua.khpi.oop.lab04.GuestTest"/>
            <class name="ua.khpi.oop.lab04.BookingTest"/>
            <class name="ua.khpi.oop.lab04.HotelTest"/>
        </classes>
    </test>
</suite>